@font-face {
  font-family: 'AlexandraZeferinoOne';
  src: url('AlexandraZeferinoOne.eot?#iefix') format('embedded-opentype'),  url('AlexandraZeferinoOne.woff') format('woff'), url('AlexandraZeferinoOne.ttf')  format('truetype'), url('AlexandraZeferinoOne.svg#AlexandraZeferinoOne') format('svg');
  font-weight: normal;
  font-style: normal;
}
